@charset "UTF-8";

.underline() {text-decoration:underline;}
.line-through() {text-decoration:line-through;}

.blanco() {color:@blanco;}
.gris(){color:@gris;}
.negro() {color:@negro;}
.naranja() {color:@naranja;}
.aqua() {color:@aqua;}
.azul() {color:@azul;}
.fuchsia() {color:@fuchsia;}
.verde() {color:@verde;}
.lima() {color:@lima;}
.marron() {color:@marron;}
.marino() {color:@marino;}
.olivo() {color:@olivo;}
.purpura() {color:@purpura;}
.rojo() {color:@rojo;}
.plata() {color:@plata;}
.amarillo() {color:@amarillo;}
.rosa() {color:@rosa;}

/* imágenes */

img {
    max-width: 100%;
}
a{
	img{border:0 none;}
}
