//Variables---*/
@base-url: "../"; 
@mobile:320px;
@tablet:480px;
@desktop:760px;
@BigScreen:1140px;

//colores--------------------------------------------------------------------------------*/	

//blanco a negro
@blanco:white;
@plata:silver;
@gris:gray;
@negro:black;
@gainsboro:gainsboro;

//azules
@aqua:aqua;
@azul: blue;
@marino:navy;
@powderblue:powderblue;
@cadetblue:cadetblue;

//verdes
@verde:green;
@turquesa:turquoise;
@turquesa-palido:paleturquoise;
@turquesa-medio:mediumturquoise;
@lima:lime;
@olivo:olive;

//otros
@fuchsia:fuchsia;
@marron:maroon;
@teal:teal;
@rosa:pink;
@rojo:red;
@amarillo:yellow;
@naranja:orange;
@purpura:purple;